.page {
  max-width: 1280px;
  min-width: 320px;
  background-color: #2A2C2F;
  margin: 0 auto;
}

.header {
  font-family: 'Inter', 'Arial', sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 48px 58px;
}

  .header__logo {
  max-width: 176px;
  max-height: 52px;
}

.header__links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 12px 0 0;
  padding: 0;
}

.header__link {
  margin-right: 18px;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;
  max-width: 30px;
  max-height: 28px;
}

.header__link:last-child {
  margin-right: 0;
}

.header__lang-link {
  color: white;
  text-decoration: none;
}

.header__lang-active {
  text-decoration: underline;
}

.lead {
  font-family: 'Inter', 'Arial', sans-serif;
  color: white;
  padding: 0 148px;
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: center;
  max-width: 720px;
}

.lead__subtitle {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto;
  max-width: 640px;
  margin-bottom: 64px;
  text-align: center;
}

.lead__image {
  max-width: 984px;
  margin-bottom: 7px;
}

.lead__caption {
  font-size: 10px;
  line-height: 14px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  min-width: 158px;
  margin-bottom: 91px;
}

.intro {
  font-family: 'Inter', 'Arial', sans-serif;
  color: white;
  max-width: 690px;
  padding: 0 148px;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin-top: 0;
  margin-bottom: 40px;

}

.intro__text {
  margin-top: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 36px;
}

.intro__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 92px;
}

.list-item {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.list-item__title {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  margin-right: 4px;
}

.list-item__amount {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.photo-grid {
  max-width: 1184px;
  padding: 0 48px;
}

.photo-grid__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px 16px;
  margin-bottom: 89px;
}

.photo-grid__item {
}

.photo-grid__image {
  max-width: 284px;
  max-height: 213px;
}

.places {
  font-family: 'Inter', 'Arial', sans-serif;
  color: white;
  max-width: 984px;
  padding: 0 148px;
}

.place {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.place__title {
  margin: 0 40px 48px 0;
  width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__image {
  max-width: 460px;
  max-height: 460px;
  margin-right: 40px;
}

.place__website {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 484px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 47px;
}

.place__url-heading {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #aaa;
  margin-bottom: 10px;
}

.place__link {
  color: white;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
}

.place__paragraphs {
  max-width: 484px;
}

.place__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 28px;
}

.cover {
  max-width: 1184px;
  padding: 0 48px;
  position: relative;
  font-family: 'Inter', 'Arial', sans-serif;
  color: wwhite;
}

.cover__link {
}

.cover__background {
  max-width: 100%;

}

.cover__text {
  position: absolute;
  top: 245px;
  left: 312px;
  color: white;
}

.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
}

.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;

}
