.cover {
  width: 100%;
  max-width: 1184px;
  font-family: 'Inter', 'Arial', sans-serif;
  color: white;
  padding: 0;
  margin: 0 auto;
  box-sizing: content-box;
}

@media screen and (max-width: 1250px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width: 740px) {
  .cover {
    max-width: 320px;
  }
}
