.place {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 82px;
  align-items: flex-end;
}

.place:last-child {
  margin-bottom: 88px;
}

@media screen and (max-width: 990px) {
  .place {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 740px) {
  .place {
    margin-bottom: 50px;
    flex-direction: column;
  }

  .place:last-child {
    margin-bottom: 20px;
  }
}
